# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python packaging
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# PyCharm / VSCode files
.idea/
.vscode/

# Output files
*.data
*.csv
*.h5
*.pkl
*.joblib

*.keras
logs/
checkpoints/
